@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}



body {
    background-color: #eaefe3;
    padding: 20px;
}
h1 {
    color: #67794F;
    text-align: center;
}





.header {
    display: flex;
    padding: 5px 0;
}
.header span {
    font-weight: bold;
    background-color: #FBBE7C;
    border-radius: 20px;
    width: 25%;
    text-align: center;
    margin: 0 5px;
    padding: 3px;
}



.sched {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time, .thursday, .friday, .saturday {
    width: 25%;
    margin: 0 5px;
}
.time p {
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin: 5px 0;
    padding: 3px;
    font-weight: bold;
}

.nothing p {
    width: 100%;
    background-color: #FBBE7C;
    color: #FBBE7C;
    border-radius: 20px;
    padding: 3px;
    font-weight: bold;
    margin: 4px 0;
}


.thursday, .friday, .saturday {
    text-align: center;
}
.one, .two, .three, .four {
    background-color: white;
    border: 2px solid #FBBE7C;
    border-radius: 20px;
    margin: 4px 0;
    font-size: 0.7rem;
    font-weight: bold;
}


/* .sched, .time, .thursday {
    border: 2px solid black;
} */
.thursday p:nth-child(3), .friday p:nth-child(3), .saturday p:nth-child(3) {
    font-size: 0.5rem;
}


.thursday .one p:nth-child(2) {
    margin-bottom: 30px;
}
.thursday .two p:nth-child(2) {
    margin-bottom: 0px;
}
.thursday .three p:nth-child(2) {
    margin-bottom: 0px;
}
.thursday .four p:nth-child(2) {
    margin-bottom: 135px;
}



.friday .one p:nth-child(2) {
    margin-bottom: 52px;
}
.friday .two p:nth-child(2) {
    margin-bottom: 0px;
}
.friday .three p:nth-child(2) {
    margin-bottom: 52px;
}
.friday .four p:nth-child(2) {
    margin-bottom: 0px;
}



.saturday .one p:nth-child(2) {
    margin-bottom: 0px;
}
.saturday .two p:nth-child(2) {
    margin-bottom: 0px;
}
.saturday .three p:nth-child(2) {
    margin-bottom: 110px;
}